doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title To-Do list
  body
    header.header
      h1.header__title To-Do list
    main.main
      .form-section
        form.form
          input.form__task-name(type="text" placeholder="Введите название задачи" required)
          textarea.form__task-desc(placeholder="Введите описание задачи" required)
          a.form__btn(href="#") Добавить задачу
      .tasks-section
        .tasks-section__container
          .tasks-section__col-1
            .task-card
              h3.task-card__task-name Сделать что-то 1
              p.task-card__task-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate harum ducimus ratione exercitationem ullam! Rerum architecto vitae alias quos. Accusamus veritatis aperiam a vero ipsum architecto eaque hic voluptates.
              .task-card__btns
                a.task-card__complete(href="#") Выполнено
                a.task-card__edit(href="#") Редактировать
                a.task-card__remove(href="#") Удалить
            .task-card
                h3.task-card__task-name Сделать что-то 3
                p.task-card__task-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate harum ducimus ratione exercitationem ullam! Rerum architecto vitae alias quos. Accusamus veritatis aperiam a vero ipsum architecto eaque hic voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dignissimos ducimus qui placeat maiores cum non necessitatibus architecto quia quam laudantium enim, corrupti, ipsum adipisci aliquam fugit, vel esse eligendi?
                .task-card__btns
                  a.task-card__complete(href="#") Выполнено
                  a.task-card__edit(href="#") Редактировать
                  a.task-card__remove(href="#") Удалить
            .task-card
                h3.task-card__task-name Сделать что-то 5
                p.task-card__task-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate harum ducimus ratione exercitationem ullam! Rerum architecto vitae alias quos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, possimus!
                .task-card__btns
                  a.task-card__complete(href="#") Выполнено
                  a.task-card__edit(href="#") Редактировать
                  a.task-card__remove(href="#") Удалить
          .tasks-section__col-2
            .task-card
                h3.task-card__task-name Сделать что-то 2
                p.task-card__task-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate harum ducimus ratione exercitationem ullam! Rerum architecto vitae alias quos. Accusamus veritatis aperiam a vero ipsum architecto eaque hic voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure ipsa similique, repellat voluptates exercitationem tenetur! Veritatis quia tenetur corrupti culpa exercitationem, ad quod nisi officia recusandae id minus facere deleniti.
                .task-card__btns
                  a.task-card__complete(href="#") Выполнено
                  a.task-card__edit(href="#") Редактировать
                  a.task-card__remove(href="#") Удалить
            .task-card
                h3.task-card__task-name Сделать что-то 4
                p.task-card__task-desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cupiditate harum ducimus ratione exercitationem ullam! Rerum architecto vitae alias quos. Accusamus veritatis aperiam a vero ipsum architecto eaque hic voluptates. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti quasi debitis modi et dolores recusandae neque! Dolorem eligendi perspiciatis beatae?
                .task-card__btns
                  a.task-card__complete(href="#") Выполнено
                  a.task-card__edit(href="#") Редактировать
                  a.task-card__remove(href="#") Удалить
