body {
  height: 100vh;
  font-family: "Montserrat";
  font-size: 14px;
  background: url("/default-bg.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1, h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.side-padding {
  padding: 0 40px;
}