.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.5);
  &__task-name,
  &__task-desc {
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid $borders;
  }
  &__task-name {
    height: 40px;
  }
  &__task-desc {
    height: 180px;
    resize: none;
  }
  &__btn {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    background-color: $default;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 300ms;
    &:hover {
      background-color: $default-hover;
    }
  }
}