.header {
  background-color: var(--default);
  padding: 10px 40px;
  text-align: center;
  &__title {
    font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
  }
}