.tasks-section {
  padding: 20px;
  &__container {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
  }
  &__col-1 {
    margin-right: 10px;
  }
  &__col-2 {
    margin-left: 10px;
  }
}