.task-card {
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  &__task-name {
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 3px;
    font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
    outline: none;
    overflow-wrap: break-word;
    &_is-complete {
      text-decoration: line-through;
      color: $borders;
    }
    &_box-shadow {
      box-shadow: 0px 0px 5px 2px $complete-hover;
    }
  }
  &__task-desc {
    margin-bottom: 40px;
    padding: 4px;
    border-radius: 3px;
    outline: none;
    overflow-wrap: break-word;
    &_is-complete {
      text-decoration: line-through;
      color: $borders;
    }
    &_box-shadow {
      box-shadow: 0px 0px 5px 2px $complete-hover;
    }
  }
  &__btns {
    display: flex;
    align-items: flex-end;
    @media(max-width: $sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__complete,
  &__edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
    transition: 300ms;
    @media(max-width: $sm) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  &__complete {
    background-color: $complete;
    &:hover {
      background-color: $complete-hover;
    }
    &_is-complete {
      background-color: $danger;
      &:hover {
        background-color: $danger-hover;
      }
    }
    &_inaccessible {
      background-color: $borders;
      cursor: default;
      &:hover {
        background-color: $borders;
        cursor: default;
      }
    }
  }
  &__edit {
    background-color: $default;
    &:hover {
      background-color: $default-hover;
    }
    &_inaccessible {
      background-color: $borders;
      cursor: default;
      &:hover {
        background-color: $borders;
        cursor: default;
      }
    }
    &_editable {
      background-color: $complete;
      &:hover {
        background-color: $complete-hover;
      }
    }
  }
  &__remove {
    margin-left: auto;
    color: $danger;
    transition: 300ms;
    &:hover {
      color: $danger-hover;
    }
    @media(max-width: $sm) {
      margin-left: 0;
    }
  }
}
