$default: hsla(242, 60%, 35%, 1);
$default-hover: hsla(242, 90%, 35%, 1);
$complete: hsla(124, 60%, 35%, 1);
$complete-hover: hsla(124, 90%, 35%, 1);
$danger: hsla(360, 60%, 35%, 1);
$danger-hover: hsla(360, 90%, 35%, 1);
$borders: hsla(242, 1%, 35%, 0.5);
$fog: rgba(0, 0, 0, 0.6);

$sm: 576px;
$lg: 992px;