:root {
  --bg: url("/default-bg.jpg") no-repeat;
  --card: #ffffff;
  --default: #1e88e5;
  --default-hover: #1976d2;
  --complete: #76ff03;
  --complete-hover: #64dd17;
  --danger: #c62828;
  --danger-hover: #b71c1c;
  --borders: hsla(242, 1%, 35%, 0.5);
  --fog: rgba(0, 0, 0, 0.6);
}

$sm: 576px;
$md: 768px;
$lg: 992px;

